@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

#heading {
  font-family: "Gugi";
}

#footer {
  bottom: 0;
  position: absolute;
  height: 2.5rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

* {
  font-family: "Source Sans Pro";
}
